<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Blog</title>
     <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>
<body>
<div>
<header>
    <div class="nav-left">
        <h1><a href="{% url 'home' %}">Django Blog</a></h1>
    </div>
    <div class="nav-right">
        <a href="{% url 'post_new' %}"> + New Blog Post</a>
    </div>
</header>
{% if user.is_authenticated %}
    <p>Hi {{ user.username }}</p>
    <p><a href="{% url 'logout' %}">Log Out</a></p>
{% else %}
<p>You are not Logged In !!</p>
    <a href="{% url 'login' %}">Log In</a>
{% endif %}
    {% block content %}
    {% endblock content %}
</div>
</body>
</html>